<section class="container">
  <h2>Documentation</h2>
  <article>
    <p>
      This project has two components
    </p>
    <ol>
      <li>Home page</li>
      <li>Page of todo-list</li>
    </ol>

    <p>The project is divided into several directories:</p>
    <ol>
      <li>core - frame components by type of header, footer, etc.</li>
      <li>shared - components, services that are used everywhere in the project</li>
      <li>features - and the usual components that are used in the project</li>
    </ol>

    <p>todo-list's component has a service that saves an object to an array and writes to localStorage</p>
    <p>Also, the structure of the component is divided into the functionality of saving, deleting, changing the checkbox, initializing reactive forms.</p>
  </article>
</section>
